/* You can add global styles to this file, and also import other style files */

@import "../node_modules//bootstrap/dist/css/bootstrap.min.css";
@import "./assets/styles/global-styles.scss";
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap');


html, body { height: 100%; font-family: 'El Messiri', sans-serif !important; }
body { margin: 0; }
h1, h2, h3, h4, h5, h6, div, span, p, a, button li {font-family: 'El Messiri', sans-serif !important;}
