<form [formGroup]="adForm" (ngSubmit)="onSubmit()" dir="rtl">
  <div class="row rounded border mt-4 px-3 pt-3 pb-2 position-relative">



    <div class="col-md-4">
      <mat-form-field appearance="legacy" class="w-100 text-right mb-3">
        <mat-label>ترتيب الظهور</mat-label>
        <input type="number" formControlName="displayOrder" matInput placeholder="ترتيب الظهور">
        <mat-icon matSuffix><i class="pi pi-link"></i></mat-icon>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <app-images-popup [formGroup]="adForm" [controlName]="'imageId'" [isRequired]="true" [label]="'الصورة'" #imagesPopupFather  ></app-images-popup>
    </div>

    <div class="col-md-4">
      <mat-slide-toggle formControlName="isActive">مٌفعل</mat-slide-toggle>
    </div>

    <footer class="w-100 text-start pt-2 border-top mt-3">
      <button type="submit" mat-flat-button color="primary">حفظ</button>
    </footer>
  </div>

</form>

