<div [class.bg-light]="showMore" [class.py-5]="showMore" [class.pb-5]="!showMore" class="w-100" dir="rtl">
  <app-site-home-seperator *ngIf="!showMore" [fixed]="false" [banner]="banner"></app-site-home-seperator>
  <div class="container">
    <h2 class="text-center">عن الكنيسة</h2>
    <span class="mb-5 mt-3 small-hr"></span>

    <div class="row">
      <div class="col-md-4">
        <img [src]="aboutChurch.img" alt="" srcset="">
      </div>
      <div class="col-md-8" [class.position-relative]="showMore">
        <div *ngIf="showMore" class="showmore-layout pt-4">
          <div *ngIf="showMore" class="w-100 text-center">
            <a class="main-btn" routerLink="/about-church">عرض الكل</a>
          </div>
        </div>
        {{aboutChurch.disc}}
      </div>
    </div>
  </div>
</div>


