$padding_image: 15px;
.gallery {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  &__img {
    padding: 0 7.5px;
     float: left;
     width: 100%;

     margin-bottom: $padding_image;
     &--inner {

        height: 240px;
        border-radius: 4px;

     }
  }
  .gallery__img--inner {
    background-size: cover;
    background-position: center center;
 }
  @media (min-width: 768px) {
     &__img {
        width: 50%;
        // &:nth-child(odd) {
        //    padding-right: calc( #{$padding_image} / 2);
        // }
        // &:nth-child(even) {
        //    padding-left: calc( #{$padding_image} / 2);
        // }
        &--inner {
           height: 384px;
        }
     }
  }
  @media (min-width: 992px) {
     &__img {
        width: 33.3333%;
        &:nth-of-type(8n+1),
        &:nth-of-type(8n+2) {
           width: 50%;
           .gallery__img--inner {
              height: 384px;
              background-size: cover;
              background-position: center center;
           }
        }
        // &:nth-of-type(8n+4) {
        //    padding-right: calc(#{$padding_image} / 2);
        // }
        // &:nth-of-type(8n+5) {
        //   //  padding-left: calc(#{$padding_image} / 2);
        //    padding-right: calc(#{$padding_image} / 2);
        // }
        // &:nth-of-type(8n+6) {
        //   //  padding-left: calc(#{$padding_image} / 2);
        //    padding-right: calc(#{$padding_image} / 2);
        // }
        // &:nth-of-type(8n+7) {
        //    padding-left: calc(#{$padding_image} / 2);
        // }
        &--inner {
           height: 250px;
        }
     }
  }
}
.gallery-showMore{
  max-height: 1000px;
  overflow: hidden;
}
.skeleton{
  border-radius: 4px;
  background: rgba(130, 130, 130, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(130, 130, 130, 0.2)), color-stop(18%, rgba(85, 85, 85, 0.3)), color-stop(33%, rgba(130, 130, 130, 0.2)));
  background: linear-gradient(to right, rgba(130, 130, 130, 0.2) 8%, rgba(85, 85, 85, 0.3) 18%, rgba(130, 130, 130, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-lines 3s infinite ease-out;
  position: absolute;
  top: 0;
  left: 7.5px;
  right: 0;
  border: 0;
  width: calc( 100% - 15px );;
  height: 100%;
  z-index: -1;
}
@keyframes wave-lines {
  0% {
      background-position: -468px 0;
  }
   100% {
      background-position: 468px 0;
  }
}
