.product-image{height: 50px !important;}

@media (min-width: 700px) {
 ::ng-deep .p-overlaypanel{width: 400px !important;}
}

::ng-deep .p-overlaypanel{
    top: auto !important;
    left: auto !important;
    --overlayArrowLeft: auto !important;
}
